.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  padding-top: 10px;
  pointer-events: none;
  animation: logo-rotate 3s ease-in;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: fade 1.5s ease-in;
  font-family: 'Comfortaa', cursive;
}

.App-link {
  color: #61dafb;
}


.app-router {
  position:relative;
  background-color: black;
  padding-top: 10px;
  z-index: 1;
  font-family: 'Comfortaa', cursive;

}

.home-page {
  font-family: 'Comfortaa', cursive;

}

.social {
  display: flex;
  justify-content: center;
  font-size: 3em;
  a {
    margin: 20px;
    color: blanchedalmond;
  }
}



.about {
  animation: fade 1.5s ease-in;
  width: 60%;
  margin: auto;
} 

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  p {
    font-size: 1.5em;
  }
}

.resume-router {
  animation: slide 1s ease-out;
  background-color: rgb(21, 10, 31);
  padding-top: 10px;
  position: relative;
  z-index: 0;
  font-family: 'Comfortaa', cursive;
}

.resume {
  width: 60%;
  margin: 50px auto;
  display: flex;
  align-items: stretch;
  animation: fade 1.5s ease-in;
}

.resume-left-column {
  width: 30%;
}

.resume-right-column {
  width: 70%;
}

.resume-div {
  background-color: white;
  border: blanchedalmond ridge 5px;
  color: black;
  text-align: left;
  margin: 10px;
  padding: 15px;
}


.theatrical-resume {
  padding: 50px 0;
  font-family: 'Comfortaa', cursive;
  animation: fade 1.5s ease-in;
}

.theatrical-resume-table {
  width: 75%;
  margin: auto;
  text-align: left;
}

.year-column {
  width: 5%;
  font-size: 1.25em;
}

.show-column {
  width: 40%;
}

.supervisor-column {
  width: 20%;
}

.theatrical-resume-lower {
  width: 25%;
  margin: auto;
  text-align: left;
}

.lighting-portfolio {
  background-color: black;
  padding: 75px 0;
  font-family: 'Comfortaa', cursive;
  animation: fade 1.5s ease-in;
}

.show-tiles {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.show-gallery {
  padding-top: 50px;
}

.selected {
  color:blanchedalmond;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
}

.show-photo {
  height: 400px;
  padding: 50px 0;
}

body { 
  background-color: #201547;
}

div {
  color: white;
}

nav {
  border-bottom: solid blanchedalmond 2px;
}

ul {
  display: flex;
  align-items: flex-end;
  padding-left: 200px;
}

li {
  margin: 0 30px;
  list-style-type: none;
}

li a {
  color: white;
  font-size: calc(10px + 2vmin);
  text-decoration: none;
}

#head-shot {
  height: 400px;
  border-radius: 50%;
  margin: 50px;
  border: solid blanchedalmond 3px;
}


#lighting-link {
  height: 400px;
  transition: transform 0.5s;
  padding: 20px;
}

#lighting-link:hover{
  transform: scale(1.1);
}



@keyframes slide {
  from { transform:translate(0, -75px) }
  to { transform:translate(0, 0) }
}

@keyframes logo-rotate {
  0% { transform: rotate(-90deg) translate(30px, 0) }
  40% { transform: rotate(-90deg) translate(0, 0)}
  50% { transform: rotate(-90deg) translate(0, 0)}
  100% { transform: rotate(0deg) translate(0,0)}
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}